<footer class="footer">
    <div class="copyright-info">
      <span>|</span> <span>Copyright &copy; 2022 codementorguide.com</span>
    </div>
    <div class="social-links">
      <div class="facebook-link">
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <div class="youtube-link">
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </footer>