<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Code Mentor | About </title>
</head>

<body>

    <!-- header's html starts below -->
     <%- include('layouts/header'); -%>
    <!-- header html ends here -->

    <!-- main html starts here -->
    <main class="about-page-main">
        <div class="about-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at eaque placeat reiciendis optio beatae dignissimos sapiente rerum libero consequatur inventore architecto laudantium nihil corrupti obcaecati repellendus molestiae est adipisci, excepturi, mollitia eum aliquid officiis sint. Dignissimos quibusdam qui vitae unde architecto perferendis repellendus totam laboriosam distinctio impedit atque non veniam optio laudantium voluptate reiciendis, et quod. Magni ipsum fugiat porro tempora voluptatum a iure eos distinctio aut modi, laudantium explicabo, recusandae at? Totam id accusantium aut maxime explicabo neque harum aliquid? Consequuntur eum id numquam magni quas! Rem aut eum praesentium, doloribus quisquam velit blanditiis in fugit consequuntur eligendi, accusantium suscipit tenetur possimus odit! Sunt, mollitia aut? Maiores aliquam voluptatibus eaque at ut porro, eius corrupti itaque beatae quis doloribus recusandae labore numquam similique quasi, fuga aperiam quos officia enim laudantium aut molestias earum delectus! Iusto error odio nemo voluptatibus iste, excepturi id, quas a vitae corporis necessitatibus? Dolores, expedita! Saepe alias iusto animi delectus odit esse incidunt enim ipsam, nihil aspernatur vel iure inventore cumque placeat? Soluta temporibus fuga ullam maxime cupiditate ipsum! Sequi modi corrupti ea est! Alias repudiandae quidem saepe praesentium vitae maiores at officia reiciendis? A, ea perferendis? Quas culpa nostrum iste rerum ullam quisquam vel quae ratione, vitae perferendis cum hic. Nulla rerum praesentium veniam, debitis, commodi soluta placeat minima ipsum maiores cumque delectus animi ratione totam dignissimos! Sed non nam neque. In, ex atque. Exercitationem perferendis inventore soluta ratione adipisci illo deleniti magnam blanditiis excepturi amet quas hic labore officia cumque eos quia, eius repudiandae eaque fugiat. Omnis illum iusto sed magnam, minus consequatur tempora velit recusandae aut a corrupti enim reiciendis mollitia sint repudiandae perferendis assumenda labore, accusantium quibusdam, blanditiis laboriosam. Quibusdam, at. Fugiat consequuntur nesciunt sequi facilis ut. Suscipit rem modi repellat dolor ipsa eum omnis exercitationem optio, quaerat dolorem minima.</p>
        </div>
    </main>
    <!-- main html ends here -->

      <!-- footer html starts here -->
      <%- include('layouts/footer'); -%>
      <!-- footer html ends here -->

    <!-- <script src="js/blog.js"></script> -->
    <script src="js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>