<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Programming Blog | Code Mentor Guide</title>
</head>

<body>
    <!-- header's html starts below -->
    <%- include('layouts/header'); -%>
    <!-- header html ends here -->
    

    <!-- main html starts here -->
    <main class="signup-page-main">
        
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error){ %>
                <div class="signup-errors"><%= error.msg %></div>
                <% }) %>
                <% } %>
                   
        <% if(typeof signupsuccess != 'undefined') { %>
        <div class="signup-success"><%= signupsuccess %></div>
        <% } %>

        <div class="signup-container">
            <form action="/users/signup" method="POST" autocomplete="on" id="signup-form">
                    <h2>Sign Up</h2>
                    <h5>Name:</h5>
                    <input type="text" name="username" id="username"><br>
                    <h5>Email:</h5>
                    <input type="email" name="email" id="email"><br>
                    <h5>Password:</h5>
                    <input type="password" name="pass" id="pass" value=""><br>
                    <h5>Repeat Password:</h5>
                    <input type="password" name="reppass" id="reppass" value=""><br><br>
                    <input type="submit" name="signup" value="Sign up" id="signupBtn">
                </fieldset>
            </form>
        </div>
    </main>
    <!-- main html ends here -->

    <hr class="footer-hr">

      <!-- footer html starts here -->
      <%- include('layouts/footer'); -%>
      <!-- footer html ends here -->

    <script src="/js/signup.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>