.forgotpassword-page-main .email-send-success-message {
    background-color: #18690d;
    color: white;
    text-align: center;
}

.forgotpassword-page-main .email-send-fail-message {
    background-color: #a3190f;
    color: white;
    text-align: center;
}

.forgotpassword-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgotpassword-container #forgotpassword-form {
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.forgotpassword-container #forgotpassword-form h3 {
     text-align: center;
}

.forgotpassword-container #forgotpassword-form h5 {
     margin-top: 2rem;
}

.forgotpassword-container #forgotpassword-form input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 3px;
}

.forgotpassword-container #forgotpassword-form #forgotpassBtn {
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px;
    background-color: #0e52b9;
    background-image: linear-gradient(to bottom right, #0e52b9, rgb(84, 151, 214));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#forgotpassword-form #forgotpassBtn:hover {
    background-color: #020207; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #020207, #5d6164);
}